services:
  server:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server:2024.12}
    container_name: authentik-server
    restart: always
    command: server
    environment:
      AUTHENTIK_REDIS__HOST: platform-redis
      AUTHENTIK_REDIS__PASSWORD: ${REDIS_PASSWORD:?error}
      AUTHENTIK_POSTGRESQL__HOST: platform-postgres
      AUTHENTIK_POSTGRESQL__USER: ${PG_USER:-authentik}
      AUTHENTIK_POSTGRESQL__NAME: ${PG_DB:-authentik}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS:?error}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY:?error}
    volumes:
      - /data/platform/authentik/media:/media
      - /data/platform/authentik/certs:/certs
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authentik.rule=Host(`sso.${INTERNAL_DOMAIN}`)"
      - "traefik.http.routers.authentik.entrypoints=websecure"
      - "traefik.http.routers.authentik.tls.certresolver=letsencrypt"
      - "traefik.http.services.authentik.loadbalancer.server.port=9000"

  worker:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server:2024.12}
    container_name: authentik-worker
    restart: always
    command: worker
    environment:
      AUTHENTIK_REDIS__HOST: platform-redis
      AUTHENTIK_REDIS__PASSWORD: ${REDIS_PASSWORD:?error}
      AUTHENTIK_POSTGRESQL__HOST: platform-postgres
      AUTHENTIK_POSTGRESQL__USER: ${PG_USER:-authentik}
      AUTHENTIK_POSTGRESQL__NAME: ${PG_DB:-authentik}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS:?error}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY:?error}
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/platform/authentik/media:/media
      - /data/platform/authentik/certs:/certs
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
