services:
  openclaw:
    image: ghcr.io/openclaw/openclaw:latest
    container_name: openclaw
    restart: always
    expose:
      - "18789"
    command: [ "node", "dist/index.js", "gateway", "--allow-unconfigured", "--bind", "lan", "--port", "18789" ]
    environment:
      - OPENCLAW_GATEWAY_TOKEN
      - LLM_PROVIDER
      - OPENAI_BASE_URL
      - OPENAI_API_KEY
      - LLM_MODEL
      - PLUGIN_FEISHU_ENABLED
      - FEISHU_APP_ID
      - FEISHU_APP_SECRET
      - FEISHU_VERIFICATION_TOKEN
      - FEISHU_ENCRYPT_KEY
    volumes:
      - ./data:/home/node/.openclaw
