services:
  redis:
    image: redis:alpine
    container_name: platform-redis
    restart: always
    command: redis-server --save 60 1 --loglevel warning --requirepass ${REDIS_PASSWORD:?error}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - /data/platform/redis:/data
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=false"

networks:
  dokploy-network:
    external: true
