{
  "log": {
    "level": "warn"
  },
  "inbounds": [
    {
      "type": "vless",
      "tag": "vless-in",
      "listen": "0.0.0.0",
      "listen_port": 10000,
      "users": [
        {
          "uuid": "{{FREE_UUID}}",
          "flow": ""
        }
      ],
      "transport": {
        "type": "ws",
        "path": "{{FREE_PATH}}"
      }
    }
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct"
    }
  ]
}
