receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    send_batch_size: 10000
    timeout: 10s

exporters:
  # SigNoz-specific exporters
  clickhousetraces:
    datasource: tcp://platform-clickhouse${ENV_SUFFIX}:9000?database=signoz_traces

  signozclickhousemetrics:
    dsn: tcp://platform-clickhouse${ENV_SUFFIX}:9000

  clickhouselogsexporter:
    dsn: tcp://platform-clickhouse${ENV_SUFFIX}:9000

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhousetraces]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [signozclickhousemetrics]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhouselogsexporter]
